<div class="container col-sm-12">
  <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
    {{errorMessage}}
  </div>
  <form #resetPasswordForm="ngForm" (ngSubmit)="onResetPassword(resetPasswordForm)">
    <div class="form-group inputt">
      <input type="text"
             class="form-control"
             placeholder="Username"
             name="username"
             required
             ngModel>
    </div>
    <div class="form-group inputt">
      <input type="password"
             class="form-control"
             placeholder="Mot de passe actuel"
             name="passwordActual"
             required
             ngModel>
    </div>
    <div class="form-group inputt">
      <input type="password"
             class="form-control"
             placeholder="Mot de passe"
             name="password"
             required
             ngModel>
    </div>
    <div class="form-group inputt">
      <input type="password"
             class="form-control"
             placeholder="Confirmez votre mot de passe"
             name="repassword"
             required
             ngModel>
    </div>
    <button type="submit" class="btn yellow float-right" [disabled]="resetPasswordForm.invalid">Envoyer</button>
    <br><br>
  </form>
  <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
</div>
